<div class="sharebuttons">
  <hr />
  <ul>
    <li class="facebook">
      <a href="https://www.facebook.com/steven.m.simoni" target="_blank">
        {% include social/facebook.svg %}
      </a>
    </li>
    <li class="instagram">
      <a href="https://www.instagram.com/stevensimoni/" target="_blank">
        {% include social/instagram.svg %}
      </a>
    </li>
    <li class="twitter">
      <a href="https://twitter.com/StevenSimoni" target="_blank">
        {% include social/twitter.svg %}
      </a>
    </li>
    <li class="linkedin">
      <a href="https://www.linkedin.com/in/stevensimoni/" | uri_escape}}" target="_blank">
        {% include social/linkedin.svg %}
      </a>
    </li>
  </ul>
  <ul>
    <li class="github">
      <a href="https://github.com/kr4ng" target="_blank">
        {% include social/github.svg %}
      </a>
    </li>
    <li class="medium">
      <a href="https://medium.com/@stevensimoni" target="_blank">
        {% include social/medium.svg %}
      </a>
    </li>
    <li class="hn">
      <a href="https://news.ycombinator.com/user?id=ssimoni" target="_blank">
        {% include social/ycombinator.svg %}
      </a>
    </li>
    <li class="snapchat">
      <a href="https://www.snapchat.com/add/kr4ng" target="_blank">
        {% include social/snapchat.svg %}
      </a>
    </li>
  </ul>
</div>